<div class="page-bg"></div>

<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">

      <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
      <button type="submit" class="btn btn-primary" routerLink="/Home">Iniciar Sesion</button>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->
