<div class="container">
  <div class="row">
    <div class="col col-lg-4">
      <div class="card card-inverse card-primary mb-1 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p *ngIf="clickedDate">{{ clickedDate | calendarDate:'dayViewTitle':'es' }}</p>
          </blockquote>
        </div>
      </div>
      <div class="scrollable">
        <mwl-calendar-day-view
          [viewDate]="clickedDate"
          [events]="events"
          [hourSegments]="1"
          [dayStartHour]="6"
          [dayEndHour]="20">
        </mwl-calendar-day-view>
      </div>
    </div>

    <div class="col">
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group">
            <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              view="month"
              [(viewDate)]="viewDate">
              Anterior
            </div>
            <div
              class="btn btn-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Hoy
            </div>
            <div
              class="btn btn-primary"
              mwlCalendarNextView
              view="month"
              [(viewDate)]="viewDate">
              Siguiente
            </div>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <h3>{{ viewDate | calendarDate:'monthViewTitle':'es' }}</h3>
        </div>
      </div>
      <br>

      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="locale"
          (dayClicked)="dayClicked($event.day)"
          (beforeViewRender)="beforeMonthViewRender($event)"
          (eventClicked)="eventClicked($event)">
        </mwl-calendar-month-view>


    </div>
  </div>
</div>

